/* Heading Graphic and Text Centering and Responsive Scaling*/

h2.heading {
    
    margin-left: auto;
    margin-right:auto;
    width: 80%;
    height: 309px;
    background-image: url('../images/Header.png');
    background-size: 100% 100%;
     
}

    
h2.heading_text {

    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:24px;
    color: rgb(46, 46, 46);
    margin-right: 6em;
    margin-left: 6em;

}

/* Page Descriptions Wireframe info*/

h3 {
    text-align:center;
    color: rgb(46, 46, 46);
    padding-top: 8em;
}

h3.h3 {

    padding-top: 29em;

}

h3.hh3 {

    padding-top: 11em;

}

/* Drop Down Navagation Bar with Responsive Scaling*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 12em;
}

ul.topnav li {
    float: right;

}

ul.topnav li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(33, 32, 32);

}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
   
}

li.dropdown {
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
 
}

/* Dropdown Hover Effects*/

li a:hover, .dropdown:hover .dropbtn{
    background-color: #f1f1f1;
} 
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
    
.dropdown:hover .dropdown-content {
    display: block;
}

/* Image Clear Float Responsive Scaling*/
img {
    clear:left;
    float:left;
    width: 25%;
    height:auto;
    padding-right: 2em;
    padding-left: 10.3em;
    padding-bottom: 2em;
}

/* Body Content*/
div {
    float:left;
}

div.div {
    padding-top: 4em;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-right: 9em;
    color: rgb(46, 46, 46);
}

